// Include custom Footer
.wrapper-footer {
    background-color: #fff;
    color: #f8f9fa;
    padding: 25px 0;
    border-top: 1px solid #d3d3d3;
    @include media-breakpoint-up(md) {
        padding: 45px 0;
    }
}

#footer {
    color: #fff;
}

#footer a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

#footer a:hover {
    color: #ccc;
}

footer.tutor-container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1090px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;

    @include media-breakpoint-up(lg) {
        text-align: left;
    }

    .footer-top {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }

    .footer-column {
        flex: 1;
        min-width: 200px;
    }

    .powered-area {
        flex: 1;
    }

    .nav-colophon {
        flex: 1;
    }

    .footer-social {
        flex: 1;
        text-align: right;
    }

    .logo-list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: left;
        gap: 10px;
    }

    .nav-colophon ol {
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-left: 1px solid #fff; // Adds a white left border
        padding-left: 20px; // Adds spacing between the border and the content
        line-height: 1.5;
    }

    .footer-social .social-icons {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .footer-social .social-icons li a {
        color: #fff;
        font-size: 24px;
        text-decoration: none;
    }

    .footer-social .social-icons li a:hover {
        color: #ccc;
    }

    .copyright-site {
        display: block;
        font-size: 20px;
        line-height: 16px;
        color: #fff;
        text-align: center;
        margin-top: 10px;
    }
}
